<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body> 
    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <% if signed_in? %>
        <p><%= current_user.name %> | <a href="/sign-out">Sign Out</a></p>
      <% else %>
        <a href="/sign-in">Sign In</a>
      <% end %>

      <%= yield %>

      <h3><a href="/tweets">Tweets</a> | <a href="/users">Users</a></h3>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>