<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body> 
    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <% if signed_in? %>
        <p><%= current_user.name %> | <a href="/sign-out">Sign Out</a></p>
      <% else %>
        <p><form action="/sign-in" method="POST">
          <select name="user">
          <% @users.each do |user| %>
            <option value="<%= user.id %>"><%= user.name %></option>
          <% end %>
          </select>
          <input class="btn btn-primary btn-sm" type="submit" value="Sign In">
        </form></p>
      <% end %>

      <%= yield %>

      <h3><a href="/tweets">Tweets</a> | <a href="/users">Users</a></h3>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>