<h1>Welcome to Fwitter!</h1>

<h2>Tweets!</h2>
<% @tweets.each do |tweet| %>
  <p><strong><%= tweet.user %>:</strong> <%= tweet.status %></p>
<% end %>

<h2>Add a tweet</h2>
<form action="/tweets" method="POST">
  <p>User: <input type="text" name="user"></p>
  <p>Status: <input type="text" name="status"></p>
  <input class="btn btn-primary" type="submit">
</form>