<!-- We've updated our form to have a drop-down menu of all of the available users. 
 -->
<h2>Add a tweet</h2>
<% if session[:user_id] %>
  <h2>Add a tweet</h2>
  <form action="/tweet" method="POST">
  <p><strong>User:</strong> <%= @user.name %> <input type="hidden" name="user_id" value="<%= @user.id %>"></p>
  <p><strong>Status:</strong> <input type="text" name="status"></p>
  <input class="btn btn-primary" type="submit">
  </form>
<% end %>
