<h2><%= @user.name %></h2>
<% @tweets.each do |tweet| %>
  <p><%= tweet.status %></p>
<% end %>

<% if signed_in? && current_user.id == @user.id %>
  <h3>Add a tweet</h3>
  <form action="/tweets" method="POST">
    <p><textarea rows="4" cols="50" name="status"></textarea></p>
    <input type="hidden" name="user_id" value="<%= @user.id %>">
    <input class="btn btn-primary" type="submit">
  </form>
<% end %>